@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/jetbrains-mono";

body {
    font-family: "JetBrains Mono Variable", monospace;
    color: var(--text-color);
}

@custom-variant dark (&:is(.dark *));


:root {
    --text-color: rgb(230, 230, 230);
    --interval-part-width: clamp(8.4rem, 14vw,10.1rem);
    --interval-dash-margin: calc(0.07*var(--interval-part-width));
}

.cv {
    padding: 1.5rem;
    width: clamp(25rem, 80vw, 70rem);
}

@theme {
    --color-foreground-1: rgb(58, 68, 80);
    --color-foreground-2: rgb(75, 86, 100);
    --color-background-1: rgb(45, 52, 61);
    --color-background-2: rgb(36, 39, 44);
    --color-gradient-pink: #ff00ff;
    --color-gradient-orange: #FFA200;
    --color-gradient-blue: #00F7FF;
    --color-gradient-green: #08FF00;
}

button, a {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.333;
}

button:hover, a:hover {
    background-color: var(--color-foreground-1);
}

button:active, a:active {
    background-color: var(--color-foreground-2);
}

.button-area {
    border-radius: 0;
    border-bottom-left-radius: 0.5rem;
}

.button-area:hover, .button-area:active {
    background-color: var(--color-background-2);
}

@theme font-sizes {
    --text-size-large-1: clamp(2.5rem, 6.5vw, 5rem);
    --text-size-large-2: calc(0.4*var(--text-size-large-1));
    --text-size-medium-1: clamp(2rem, 6vw, 4rem);
    --text-size-medium-2: calc(0.4*var(--text-size-medium-1));
    --text-size-cv-1: clamp(1.5rem, 4vw, 3rem);
    --text-size-cv-2: calc(0.8*var(--text-size-cv-1));
    --text-size-cv-3: calc(0.7*var(--text-size-cv-1));
    --text-size-cv-4: calc(0.5*var(--text-size-cv-1));
}