@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.maxad {
    height: 100vh;
}

:root {
    --background-color: rgb(10, 73, 10);
    --interval-part-width: clamp(5.5rem, 10vw,7.1rem);
    --interval-dash-margin: calc(0.07*var(--interval-part-width));
}

.cv {
    padding-top: 1.25rem;

    width: clamp(20rem, 60vw, 60rem);
}

@theme cv {
    --text-cv-1: clamp(1.5rem, 2.25vw, 2rem);
    --text-cv-2: calc(0.9*var(--text-cv-1));
    --text-cv-3: calc(0.8*var(--text-cv-1));
    --text-cv-4: calc(0.7*var(--text-cv-1));
}